{% extends "portfolio/base.html" %}
{% block content %} 
<br><br><br><br>
<h1 class="titleProjetos">Contato:</h1><br>
<p class="sobreMimP">{% include './icons/envelope.svg' %} Email: joaoguilherme024@hotmail.com</p>
<p class="sobreMimP">{% include './icons/linkedin.svg' %} LinkedIn: <a href="https://www.linkedin.com/in/jo%C3%A3o-guilherme-felizardo-de-souza-661b672b7" target="_blank">https://www.linkedin.com/in/jo%C3%A3o-guilherme-felizardo-de-souza-661b672b7</a></p>
<p class="sobreMimP">{% include './icons/whatsapp.svg' %} WhatsApp: +55 (19) 9 8220-7498</p>    
{% endblock %}