{% extends "portfolio/base.html" %}
{% block content %} 
<br><br><br><br>
<h1 class="titleProjetos">Habilidades:</h1><br>
<p class="sobreMimP">- Linguagens de Programação (Python Avançado, Java, Javascript, C#)</p>
<p class="sobreMimP">- Inglês avançado (C1 - Advanced)</p>
<p class="sobreMimP">- Banco de Dados (PostgreSQL, sqlite)</p>
<p class="sobreMimP">- Ferramentas de Automação (Selenium, Power Automate)</p>
<p class="sobreMimP">- Controle de Versão (Git, GitHub)</p>
<p class="sobreMimP">- Desenvolvimento Web (Django, HTML, CSS, Bootstrap)</p>
{% endblock %}