{% extends "portfolio/base.html" %}
{% block content %}
            <br><br><br><br>
            <div class="card-body" >
            {% for project in projects %}
            <div class="forEachProject" id="div2" alt="projects"  onclick="location.href='{% url 'post_detail' pk=project.pk %}'" style="cursor: pointer;" width="50%"> 
             <h2>{{ project.title }}</h2> <br>
             {% if project.image %}
                <img class="card-img-top" src="{{ project.image.url }}">
            </div>
            <br><br><br>
            <div class="lineSeparableProject">
            </div>
            <br><br><br>
            {% endif %}
            {% endfor %}
          {% endblock %}