h2, h3{
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Lobster';
    padding: 10px;
}

.title {
    font-family: 'Lobster';
    font-size: 40px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #363636;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
    padding: 40px; 

}
h5{
    color: #ffffff;
    font-family: 'Lobster';
    font-size: 24px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1.titleProjetos{
    color: #ffffff;
    font-size: 48px;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Lobster';
    border-left-style: solid;
    margin-bottom: 1px;
    border-width: 25px;
    padding: 15px;
}

header {
  background-color: #333030;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  background-color: #333030;
  padding: 15px;
  text-align: center;
  color: rgb(88, 88, 88);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main{
  background-color: #1f1d1d;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#div2 {
  border-radius: 25px;
  padding: 25px;
  gap: 25px;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.carousel {
  display: flex;
  width: 100%;
  margin: 100px auto;
  overflow-x: auto;
  grid-row-start: 1;
  border-radius: 50%;
  opacity: 0.8;
}

.imgProfile {
  border-radius: 40%;
  clip-path: circle(50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  height: 300px;
  grid-row-start: 1;
  position: absolute;
  z-index: 1;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.rolloutImg {
  flex: 0 0 5em;  
  height: 6em;
  width: 7em;
  padding: 0.1em;
  border-radius: 30%;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  opacity: 0.3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.63), 0 6px 20px 0 rgba(0, 0, 0, 0.562);
}

.group{
  padding-right: 18em;  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18rem;
  animation: spin 10s infinite linear;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
.forEachProject{
    justify-content: space-between;
    gap: 50px;
    outline: none;
    border-style: double;
    align-items: center;
    border-color: rgba(104, 90, 231, 0.363);
}

.lineSeparableProject {
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.637);
    border-width: 2px;
}
.imgPageDetail {
    border-radius: 15px;
    height: 480px;
    margin-bottom: 30px;
    border: 4px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 720px;
    grid-column-start: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.63), 0 6px 20px 0 rgba(0, 0, 0, 0.562);
}

.projectDetailPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.descriptionProject {
    font-family: 'Lobster';
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #323332;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

body {
    background-color: #1f1d1d;  
}

.forEachProject:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listaCompetencias li {
    list-style-type: none;
    border-bottom-style: double;
    border-color: rgba(255, 255, 255, 0.637);
    border-width: 2px;
}



li{
    font-family: 'Lobster';
    font-size: 24px;
    color: #f4ff5e;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}